<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">

    <a class="navbar-brand fw-bold" href="#">BanqueApp</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" link="#">Crédit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Remboursement</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" routerLink="/client">Client</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet />
